button {
  font-family: 'Formula1';
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #DF0501;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #fff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}