.game-over-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.game-over-wrapper {
  font-weight: 700;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 1px solid black;
  border-radius: 8px;
  width: 400px;
  height: 200px;
}